.topIcon {
  width: 114px;
  height: 94px;
  position: absolute;
  right: 39px;
  bottom: 65px;
  animation: top 1s infinite linear alternate;
  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
