.reportPage {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100% !important;
  position: relative;
  .reportContent {
    width: 556px;
    padding: 35px 0 24px 40px;
    background: rgba(#000, 0.2);
    border-radius: 30px;
    position: absolute;
    left: 32px;
    bottom: 194px;
    div {
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      line-height: 48px;
      opacity: 0;
      animation: opacity 2s linear paused forwards;
    }
    span {
      font-weight: 500;
      color: #ffd637;
    }
  }
}

.reportData_bac {
  width: 100vw;
  height: 100vh;
  background: url(~@public/image/lastImg1.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 20px;
  .reportData_content {
    width: 726px;
    height: 1100px;
    background: url(~@public/image/lastImg2.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 76px 43px 0;
    .reportData_top {
      display: flex;
      justify-content: center;
      .consumption {
        &:nth-child(1) {
          margin-right: 76px;
        }
        .consumption_title {
          font-size: 24px;
          font-weight: 400;
          color: #999999;
          line-height: 24px;
          text-align: center;
        }
        .consumption_num {
          font-size: 40px;
          font-weight: bold;
          color: #333333;
          line-height: 40px;
          text-align: center;
          margin-top: 24px;
        }
      }
    }
    .saveMoney {
      margin-top: 32px;
      div {
        text-align: center;
      }
      .saveMoney_title {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 24px;
      }
      .saveMoney_num {
        font-size: 64px;
        font-weight: bold;
        color: #ef476f;
        line-height: 64px;
        margin-top: 24px;
      }
    }
    .reportData_center {
      width: 640px;
      height: 200px;
      background: rgba(#06c0c2, 0.06);
      border-radius: 20px;
      display: flex;
      padding: 20px 40px;
      margin-top: 32px;
      img {
        width: 140px;
        height: 160px;
        margin-right: 60px;
      }
      .reportData_center_money {
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
          font-size: 28px;
          font-weight: 400;
          color: #ef476f;
          line-height: 28px;
          span {
            font-weight: bold;
            margin: 0 8px 0 24px;
          }
        }
        div:nth-child(2) {
          color: #06bfc1;
          margin-top: 32px;
        }
      }
    }
    .report_ranking {
      font-size: 48px;
      font-weight: 500;
      color: #ef476f;
      line-height: 48px;
      text-align: center;
      margin-top: 40px;
    }
    .report_exceed {
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      line-height: 24px;
      text-align: center;
      margin-top: 24px;
      span {
        color: #ef476f;
      }
    }
    .report_line {
      height: 1px;
      background: #e5e5e5;
      border-radius: 1px;
      margin-top: 39px;
    }
    .report_keyWord {
      width: 230px;
      font-size: 32px;
      color: #333333;
      line-height: 32px;
      margin: 40px auto 0;
      font-weight: bold;
      position: relative;
    }
    .report_keyWord::before {
      position: absolute;
      background: #333;
      content: '';
      height: 2px;
      top: 50%;
      width: 40px;
      left: -60px;
    }
    .report_keyWord::after {
      position: absolute;
      background: #333;
      content: '';
      height: 2px;
      top: 50%;
      width: 40px;
      right: -50px;
    }
    .report_evaluate {
      font-size: 64px;
      font-weight: 500;
      color: #06bec0;
      line-height: 64px;
      margin-top: 40px;
      text-align: center;
    }
    .report_summary {
      font-size: 24px;
      font-weight: 400;
      color: #999999;
      line-height: 40px;
      margin-top: 24px;
      text-align: center;
    }
  }
  .reportData_button {
    display: block;
    width: 600px;
    height: 140px;
    margin: -30px auto 0;
  }
  .reportData_bottomImg {
    width: 409px;
    height: 57px;
    position: absolute;
    left: 171px;
    bottom: 50px;
  }
}

.background0 {
  background: url(~@public/image/swiper0.png);
}

.background1 {
  background: url(~@public/image/swiper1.png);
}

.background2 {
  background: url(~@public/image/swiper2.png);
}
.background3 {
  background: url(~@public/image/swiper3.png);
}
.background4 {
  background: url(~@public/image/swiper4.png);
}

.report_marginSlide {
  margin: 0 10px;
}

.report_margin {
  margin-top: 24px;
}
.fontSize48 {
  font-size: 48px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
