@font-face {
  font-family: 'HeiTi'; // --自定义名字就好
  src: url('https://dakale-web-new.oss-cn-hangzhou.aliyuncs.com/dev/game/Lottie/font/font.ttf'); // --下载的字体文件路径
}

.swiperContent {
  width: 100vw;
  height: 100vh;
}

.reportPage {
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
  position: relative;
  .reportContent {
    width: 556px;
    padding: 35px 0 24px 40px;
    background: rgba(#000, 0.2);
    border-radius: 30px;
    position: absolute;
    left: 32px;
    bottom: 194px;
    div {
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      line-height: 48px;
      opacity: 0;
      animation: opacity 2s linear paused forwards;
    }
    span {
      font-weight: 500;
      color: #ffd637;
    }
  }
}
.reportContent_opacity1 {
  background: rgba(#000, 0.15) !important;
}
.reportContent_opacity2 {
  background: rgba(#000, 0.4) !important;
}
.reportContent_opacity3 {
  background: rgba(#000, 0.3) !important;
}

.padding1 {
  padding-top: 100px !important;
}

.reportData_bac {
  width: 100vw;
  height: 100vh;
  .reportData_bacImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .reportData_content {
    position: absolute;
    top: 218px;
    left: 48px;
    .reportData_title {
      font-size: 56px;
      font-weight: 600;
      color: #108588;
      line-height: 72px;
    }
    .reportData_days {
      font-size: 140px;
      color: #108588;
      line-height: 140px;
      margin-top: 48px;
      font-family: 'HeiTi';
      span {
        font-size: 40px;
        font-weight: 600;
        color: #108588;
        line-height: 40px;
      }
    }
    .reportData_reportImg1 {
      width: 260px;
      height: 60px;
      margin-top: 129px;
    }
    .reportData_style {
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      line-height: 24px;
      margin-top: 23px;
      font-family: 'HeiTi';
      span {
        font-size: 40px;
        font-weight: bold;
        color: #333333;
        line-height: 40px;
      }
    }
    .reportData_pink1 {
      color: #ef476f !important;
    }
    .reportData_pink2 {
      font-size: 40px;
      font-weight: 600;
      color: #ef476f !important;
      line-height: 40px;
    }
    .fontSize24 {
      font-size: 24px !important;
    }
  }
  @media screen and (max-height: 700px) {
    .reportData_button {
      width: 560px;
      height: 100px;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
    .reportData_bottomImg {
      display: none;
    }
  }
  @media screen and (min-height: 700px) and (max-height: 850px) {
    .reportData_button {
      width: 560px;
      height: 100px;
      position: absolute;
      bottom: 90px;
      left: 50%;
      transform: translateX(-50%);
    }
    .reportData_bottomImg {
      display: block;
      width: 338px;
      height: 47px;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.background0 {
  background: url(~@public/image/swiper0.png);
}

.background1 {
  background: url(~@public/image/swiper1.png);
}

.background2 {
  background: url(~@public/image/swiper2.png);
}
.background3 {
  background: url(~@public/image/swiper3.png);
}
.background4 {
  background: url(~@public/image/swiper4.png);
}

.report_marginSlide {
  margin: 0 10px;
}

.report_margin {
  margin-top: 24px;
}
.fontSize48 {
  font-size: 48px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
