.shareIcon,
.musicIcon {
  width: 100px;
  height: 100px;

  position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.icon_top {
  top: 100px !important;
}

.musicIcon {
  top: 30px;
}
