.footerModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .footerModal_canvas {
    width: 520px;
    height: 926px;
    position: relative;
    .footerModal_content {
      width: 100%;
      height: 100%;
      background: #d1e8ff;
      border-radius: 42px;
      border: 10px solid #ffffff;
      overflow: hidden;

      .footerModal_bac {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .footModal_code {
        width: 160px;
        height: 160px;
        position: absolute;
        bottom: 40px;
        right: 40px;
        background: #fff;
        border-radius: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .footerModal_button {
    width: 284px;
    height: 90px;
    background: #ffd62e;
    box-shadow: 0px 8px 0px 0px #ff9101;
    border-radius: 59px;
    border: 3px solid #ffffff;
    font-size: 36px;
    font-weight: 600;
    color: #ef476f;
    text-align: center;
    line-height: 90px;
    margin: 48px auto 0;
  }
}
